@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@using StackExchange.Profiling
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Das ILK-Protokoll ermöglicht eine einfache Verwaltung der Diskussionen rund ums iwb und eine durchsuchbare Liste von Beschlüssen." />
		<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>@ViewBag.Title &#8211; ILK-Protokoll</title>

		@if (ViewBag.CurrentColorScheme == ColorScheme.RMV)
		{
			<link href="~/Content/rmvTheme.css" rel="stylesheet" />
		}
		else
		{
			<link href="~/Content/iwbTheme.css" rel="stylesheet" />
		}
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@Scripts.Render("~/bundles/other")
		
		@if ((bool?)Session["profiler"] == true) // Profiler aktivieren
		{
			@MiniProfiler.RenderIncludes()
		}
	</head>
	<body>
		@{ Html.RenderPartial("_Navbar"); }
		@if (ViewBag.CurrentSession != null)
		{
			Html.RenderPartial("~/Areas/Session/Views/Shared/_SessionNavbar.cshtml");
		}
		<div class="container-fluid body-content">
			<div id="alerts">
			</div>

			@RenderBody()
			@{ Html.RenderPartial("_Footer"); }
		</div>

		@RenderSection("Scripts", false)
		@{ Html.RenderPartial("_GlobalScripts"); }
		@Html.RenderDelayed()
	</body>
</html>