<div class="navbar navbar-inverse navbar-fixed-top" id="main-navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primaryNavbarContent">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Dashboard", "Index", "Home", new {area = ""}, new {@class = "navbar-brand iwblogo"})
		</div>
		<div class="navbar-collapse collapse" id="primaryNavbarContent">
			<p class="navbar-right navbar-text">
				@{
					var shortname = User.Identity.Name.Split('\\').Last();
					if (shortname.Length > 3)
					{
						shortname = shortname.Substring(shortname.Length - 3);
					}
				}
				<span class="hidden-xs usertile">@shortname</span>
			</p>

			@using (Html.BeginForm("Results", "Search", new {Area = ""}, FormMethod.Get, new {@class = "navbar-form navbar-right"}))
			{
				<div class="form-group">
					<div class="input-group">
						<input type="search" class="form-control" placeholder="Suche" name="searchterm" value="@ViewBag.SearchTerm">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</div>
			}

			<ul class="nav navbar-nav">
				<li class="@ViewBag.TopicStyle">@Html.ActionLink("Diskussionspunkte", "Index", "Topics", new {Area = ""}, null)</li>
				<li class="@ViewBag.DecisionStyle">@Html.ActionLink("Beschlüsse", "Index", "Decisions", new {Area = ""}, null)</li>
				<li class="@ViewBag.SessionReportStyle">@Html.ActionLink("Protokolle", "Index", "SessionReports", new {Area = ""}, null)</li>
				<li class="@ViewBag.AssignmentStyle">@Html.ActionLink("Aufgaben", "Index", "Assignments", new {Area = ""}, null)</li>
				<li class="@ViewBag.ViewListsStyle">@Html.ActionLink("Listen", "Index", "ViewLists", new {Area = ""}, null)</li>
				<li class="@ViewBag.AdminStyle">@Html.ActionLink("Verwaltung", "Index", "AdminHome", new {Area = "Administration"}, null)</li>
			</ul>
		</div>
	</div>
</div>