<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<p class="navbar-right navbar-text">
				<span class="visible-xs">Eingeloggt als <b>@User.Identity.Name</b></span>
				<span class="hidden-xs usertile">@User.Identity.Name.Split('\\').Last()</span>
			</p>

			@using (Html.BeginForm("Results", "Search", FormMethod.Get, new { @class = "navbar-form navbar-right" }))
			{
				<div class="form-group">
					<div class="input-group">
						<input type="search" class="form-control" placeholder="Suche" name="searchterm">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</div>
			}

			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Diskussionspunkte", "Index", "Topics", new { Area = "" }, null)</li>
				<li>@Html.ActionLink("Beschlüsse", "About", "Home", new { Area = "" }, null)</li>
				<li>@Html.ActionLink("Protokolle", "Index", "Home", new { Area = "" }, null)</li>
				<li>@Html.ActionLink("Aufgaben", "Index", "Home", new { Area = "" }, null)</li>
				<li>@Html.ActionLink("Verwaltung", "Index", "AdminHome", new { Area = "Administration" }, null)</li>
			</ul>
		</div>
	</div>
</div>