@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.IlkDay

<tr id="ilkDay_createform">
	<td colspan="7">

		@using (Ajax.BeginForm("_Create", "LIlkDays", new {Area = "Session"}, new AjaxOptions
		{
			HttpMethod = "POST",
			OnSuccess = "AddRow('ilkDay', data);",
			OnFailure = "DisplayErrorMessage('#ilkDay_form', '<br />' + xhr.responseText);"
		}, new {@class = "tableform", id = "ilkDay_form"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-3">
					<div class="form-inline">
						<div class="form-group">

							<input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Beginn&quot; muss eine Datumsangabe sein." data-val-required="Das Feld &quot;Beginn&quot; ist erforderlich." id="ilkDayCreation_Start_date" name="ilkDayCreation_Start_date" type="date" value="@Model.Start.ToString("yyyy-MM-dd")" style="width: 155px;">
						</div>
						<div class="form-group">
							<input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Beginn&quot; muss eine Zeitangabe sein." data-val-required="Das Feld &quot;Beginn&quot; ist erforderlich." id="ilkDayCreation_Start_time" name="ilkDayCreation_Start_time" type="time" value="@Model.Start.ToString("HH:mm")" style="width: 120px;">
						</div>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Ende&quot; muss eine Datumsangabe sein." data-val-required="Das Feld &quot;Ende&quot; ist erforderlich." id="ilkDayCreation_End_date" name="ilkDayCreation_End_date" type="date" value="@Model.End.ToString("yyyy-MM-dd")" style="width: 155px;">
						</div>
						<div class="form-group">
							<input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Ende&quot; muss eine Zeitangabe sein." data-val-required="Das Feld &quot;Ende&quot; ist erforderlich." id="ilkDayCreation_End_time" name="ilkDayCreation_End_time" type="time" value="@Model.End.ToString("HH:mm")" style="width: 120px;">
						</div>
						<input type="hidden" id="ilkDayCreation_StartDateTime" name="Start" value="@Model.Start.ToString("s")" />
						<input type="hidden" id="ilkDayCreation_EndDateTime" name="End" value="@Model.End.ToString("s")" />

						<script type="text/javascript">
							$('#ilkDayCreation_Start_date, #ilkDayCreation_Start_time').change(function() {
								var dateparts = $('#ilkDayCreation_Start_date')[0].value.split('-');
								if (dateparts.length == 1) {
									dateparts = dateparts[0].split('.').reverse();
								}
								var timeparts = $('#ilkDayCreation_Start_time')[0].value.split(':');
								$('#ilkDayCreation_StartDateTime').val(new Date(dateparts[0], dateparts[1] - 1, dateparts[2], timeparts[0], timeparts[1]).toISOString());
							});

							function CopyIlkDayEndDate() {
								var dateparts = $('#ilkDayCreation_End_date')[0].value.split('-');
								if (dateparts.length == 1) {
									dateparts = dateparts[0].split('.').reverse();
								}
								var timeparts = $('#ilkDayCreation_End_time')[0].value.split(':');
								$('#ilkDayCreation_EndDateTime').val(new Date(dateparts[0], dateparts[1] - 1, dateparts[2], timeparts[0], timeparts[1]).toISOString());
							}

							$('#ilkDayCreation_End_date, #ilkDayCreation_End_time').change(function() {
								CopyIlkDayEndDate();
							});
						</script>
					</div>
				</div>

				<div class="col-sm-1">
					@Html.TextEditorFor(model => model.Place, "ilkd_create_place")
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(m => m.SessionTypeID, (SelectList)ViewBag.SessionTypeList, "(bitte auswählen)", new {@class = "form-control", id = "ilkd_create_st"})
				</div>
				<div class="col-sm-3">
					@Html.TextEditorFor(model => model.Topics, "ilkd_create_top")
				</div>
				<div class="col-sm-1">
					@Html.DropDownListFor(m => m.OrganizerID, (SelectList)ViewBag.UserList, new {@class = "form-control", id = "ilkd_create_orga"})
				</div>
				<div class="col-sm-1">
					@Html.TextEditorFor(model => model.Participants, "ilkd_create_part")
				</div>
				<div class="col-sm-1">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
				</div>
			</div>
		}
	</td>
</tr>

@using (Html.Delayed(null, "ilkd_date_sync"))
{
	<script type="text/javascript">
		$('#ilkDayCreation_Start_date').change(function() {
			$('#ilkDayCreation_End_date').val($('#ilkDayCreation_Start_date').val());
			CopyIlkDayEndDate();
		});
		$('#ilkDayCreation_Start_date_display').change(function() {
			$('#ilkDayCreation_End_date_display').val($('#ilkDayCreation_Start_date_display').val());
			$('#ilkDayCreation_End_date').val($('#ilkDayCreation_Start_date').val());
			CopyIlkDayEndDate();
		});
	</script>
}