@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Areas.Session.Models.Lists.IlkDay>

<h3>ILK-Tage</h3>

<table id="ilkDay_table" class="table table-striped table-hover table-sortable">
	<thead>
		<tr>
			<th class="col-sm-3">
				@Html.DisplayNameFor(model => model.Start) / @Html.DisplayNameFor(model => model.End)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.Place)
			</th>
			<th class="col-sm-2">
				@Html.DisplayNameFor(model => model.SessionType)
			</th>
			<th class="col-sm-3">
				@Html.DisplayNameFor(model => model.Topics)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.Organizer)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.Participants)
			</th>
			<th class="col-sm-1"></th>
		</tr>
	</thead>
	<tbody id="ilkDay_tbody">
		@foreach (var item in Model)
		{
			Html.RenderPartial("_Row", item);
		}
	</tbody>
	<tfoot>
		@if (!ViewBag.Reporting)
		{
			@Html.Action("_CreateForm", "LIlkDays")
		}
	</tfoot>
</table>

@using (Html.Delayed(null, "List_Utilities"))
{
	<script type="text/javascript" src="~/Scripts/ListUtilities.js"></script>
}