@model ILK_Protokoll.Models.Document

@{
	string iconname = Model.LatestRevision.Extension ?? "default";
	if (!((HashSet<string>)ViewBag.KnownExtensions).Contains(iconname))
	{
		iconname = "default";
	}

	var fileurl = new MvcHtmlString(Url.Action("DownloadNewest", "Attachments", new {id = Model.GUID}));
}
<tr id="attachment_@Model.ID">
	<td>
		<a href="@fileurl">
			<img src="~/img/fileicons/@(iconname).png" height="32" />
		</a>
	</td>
	<td id="attachmentName_@Model.ID">
		@{
			Html.RenderPartial("_NameDisplay", Tuple.Create(fileurl, Model.DisplayName));
		}
	</td>
	<td>@Html.DisplayFor(model => model.LatestRevision.FileSize)</td>
	<td>@Model.LatestRevision.Uploader.LongName</td>
	<td>@Html.DisplayFor(model => model.Created)</td>
	<td class="actions">
		<a data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#attachmentName_@Model.ID" href="@Url.Action("_BeginEdit", new {documentID = Model.ID})"><span class="glyphicon glyphicon-edit" title="Name bearbeiten"></span></a>
		&nbsp;
		<a href="@Url.Action("Details", "Attachments", new {id = Model.ID})"><span class="glyphicon glyphicon-new-window" title="Detailseite aufrufen"></span></a>
		&nbsp;
		<a data-ajax="true" data-ajax-method="POST" data-ajax-success="removeAttachment('#attachment_@Model.ID');"
		   href="@Url.Action("_Delete", new {documentID = Model.ID})">
			<span class="glyphicon glyphicon-remove" title="Datei löschen"></span>
		</a>
	</td>
</tr>