@using ILK_Protokoll.Models
@model ILK_Protokoll.Models.Document
@{
	ViewBag.Title = "Details (" + Model.DisplayName + ")";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
	@if (Model.Deleted != null)
	{
		<div class="alert alert-info">
			Diese Datei befindet sich im @Html.ActionLink("Papierkorb", "Index", "RecycleBin", new {Area = "Administration"}, new {@class = "alert-link"}).
		</div>
	}
	<dl class="dl-horizontal">
		@if (Model is TopicAttachment)
		{
			var attachment = (Model as TopicAttachment);
			<dt>
				@Html.DisplayNameFor(model => attachment.TopicID)
			</dt>
			<dd>
				@Html.ActionLink(attachment.Topic.Title, "Details", "Topics", new { Area = "", id = attachment.TopicID }, null)
			</dd>
		}
		@if (Model is EmployeePresentationAttachment)
		{
			var attachment = (Model as EmployeePresentationAttachment);
			<dt>
				@Html.DisplayNameFor(model => attachment.EmployeePresentationID)
			</dt>
			<dd>
				@{
					string url = Request.Url != null ? Request.Url.PathAndQuery : null;
				}
				@Html.ActionLink(attachment.EmployeePresentation.ToString(), "Edit", "LEmployeePresentations", new { Area = "Session", id = attachment.EmployeePresentationID, returnURL = url }, null)
			</dd>
		}

		<dt>
			@Html.DisplayNameFor(model => model.DisplayName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DisplayName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Created)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>

		@if (Model.Deleted != null)
		{
			<dt>
				@Html.DisplayNameFor(model => model.Deleted)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Created)
			</dd>
		}

		<dt>
			@Html.DisplayNameFor(model => model.LatestRevision.FileSize)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.LatestRevision.FileSize)
		</dd>
	</dl>
	<br />
	@Html.ActionLink("Download", "Download", "Attachments", new {id = Model.ID}, new {@class = "btn btn-primary col-sm-offset-2", target="_blank"})
</div>