@model ILK_Protokoll.Models.Tag

@{
	ViewBag.Title = "Tag Löschen";
}

<h2>@ViewBag.Title</h2>

<h4>Dieser Schritt kann nicht rückgängig gemacht werden!</h4>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Name)</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.BackgroundColor)</dt>
		<dd>
			@Html.DisplayFor(model => model.BackgroundColor)
		</dd>
		 
		<dt>Verwendung</dt>
		<dd>
			Dieser Tag wird @Html.DisplayFor(model => model.Topics.Count) mal verwendet.
		</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			<input type="submit" value="Löschen" class="btn btn-danger" /> |
			@Html.ActionLink("Zurück zum Index", "Index")
		</div>
	}
</div>