@using ILK_Protokoll.Models
@model IEnumerable<ILK_Protokoll.Models.Tag>

@{
	ViewBag.Title = "Tags verwalten";
}

<h2>@ViewBag.Title</h2>

@{
	Html.RenderPartial("_Create", new Tag());
}
<div style="margin-top: 40px;"></div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BackgroundColor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TxtColor)
			</th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BackgroundColor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FontColor)
				</td>
				<td>
					@Html.ActionLink("Bearbeiten", "Edit", new {id = item.ID}) |
					@Html.ActionLink("Löschen", "Delete", new {id = item.ID})
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}