@using ILK_Protokoll.Models
@model IEnumerable<ILK_Protokoll.Models.Tag>

@{
	ViewBag.Title = "Tags verwalten";
}

<h2>@ViewBag.Title</h2>

@{
	Html.RenderPartial("_Create", new Tag());
}
<div style="margin-top: 40px;"></div>

<table class="table table-hover table-striped table-sortable largetags">
	<thead>
		<tr>
			<th class="col-xs-5">
				Tag
			</th>
			<th class="col-xs-3">
				Verwendung
			</th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(model => item)
				</td>
				<td>
					@Html.DisplayFor(model => item.Topics.Count) mal
				</td>
				<td>
					@Html.ActionLink("Bearbeiten", "Edit", new {id = item.ID}) |
					@Html.ActionLink("Löschen", "Delete", new {id = item.ID})
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}