@model ILK_Protokoll.Areas.Session.Models.Lists.ProfHoliday
@using (Ajax.BeginForm("_Create", "LProfHolidays", new { Area = "Session" }, new AjaxOptions
{
	HttpMethod = "POST",
	OnSuccess = "AddRow('profHoliday', data);",
	OnFailure = "DisplayErrorMessage('#profHoliday_table', '<br />' + xhr.responseText);"
}, new { id = "profHoliday_form" }))
{
	@Html.AntiForgeryToken()
	<tr id="profHoliday_createform">
		<td>
			@Html.EnumDropDownListFor(model => model.Professor, new { @class = "form-control" })
		</td>
		<td>
			@Html.EditorFor(model => model.Occasion, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			<div class="row">
				<div class="col-sm-6">
					@Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
				</div>
				<div class="col-sm-6">
					@Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</td>
		<td>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
		</td>
	</tr>
}