@using System.Text.RegularExpressions
@using ILK_Protokoll.util
@model ILK_Protokoll.ViewModels.SearchResultList

@{
	ViewBag.Title = "Suchergebnisse";
	string timestr = null;
	if (ViewBag.ElapsedMilliseconds != null)
	{
		timestr = string.Format("({0:0.00} Sekunden)", ViewBag.ElapsedMilliseconds / 1000f);
	}
}

<h2>@ViewBag.Title</h2>

@if (Model.Count == 1)
{
	<h4>Ihre Suche nach <b>@ViewBag.SearchTerm</b> hat ein Ergebnis ergeben. @timestr</h4>
}
else
{
	<h4>Ihre Suche nach <b>@ViewBag.SearchTerm</b> hat @Model.Count Ergebnisse ergeben. @timestr</h4>
}

<div class="row" id="searchresults">
	@foreach (var result in Model)
	{
		<div class="col-xs-12 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading" style="position: relative;">
					<div class="panel-title-right">
						@if (result.Timestamp.HasValue)
						{
							<span class="pull-right">
								@result.Timestamp.Value.ToString("d")
							</span>
						}
					</div>
					<h3 class="panel-title">
						<a href="@result.ActionURL"><span class="divlink"></span></a>
						@result.EntityType: @result.Title
						@foreach (var tag in result.Tags)
						{
							@Html.DisplayFor(model => tag)
						}
					</h3>
				</div>
				<div class="panel-body">
					@foreach (var hit in result.Hits)
					{
						string classname = null;
						if (!string.IsNullOrEmpty(hit.Property))
						{
							<h6>@hit.Property</h6>
							classname = "col-sm-offset-1";
						}
						<div class="@classname">
							@Html.DisplayWithLinksFor(model => hit.Text, "String_Multiline")
						</div>
					}
				</div>
			</div>
		</div>
	}
</div>


@using (Html.Delayed(null, "Masonry_Tiles"))
{
	<script type="text/javascript">
		@foreach (Regex pattern in ViewBag.SearchPatterns)
		{
			@:var regex = /@(pattern)/i;
			@:$('#searchresults').highlight(regex);
		}

		var msnry = new Masonry('#searchresults', {
			itemSelector: '.col-lg-6',
			resizeable: true,
		});
	</script>
}