@using ILK_Protokoll.util
@model IEnumerable< ILK_Protokoll.Areas.Session.Models.Lists.IndustryProject>	
		
@{
	string tableclass = ViewBag.Reporting ? "table-responsive" : null;
}

<div class="panel panel-primary">
	<div class="panel-heading panel-collapse-heading" style="position: relative;">
		<h3 class="panel-title">
			<a data-toggle="collapse" data-target="#industryProject_table_container">
				Industrieprojekte
				<span class="divlink"></span>
			</a>
		</h3>
	</div>
	<div class="panel-collapse collapse in @tableclass" id="industryProject_table_container">
		<table id="industryProject_table" class="table table-striped table-hover table-sortable table-condensed">
			<thead>
				<tr>
					<th class="col-sm-1">
						@Html.DisplayNameFor(model => model.Partner)
					</th>
					<th class="col-sm-2">
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th class="col-sm-2">
						@Html.DisplayNameFor(model => model.StartDate)
					</th>
					<th class="col-sm-2">
						@Html.DisplayNameFor(model => model.EndDate)
					</th>
					<th class="col-sm-1">
						@Html.DisplayNameFor(model => model.Ilk)
					</th>
					<th class="col-sm-1">
                        <span title="Gesamtsumme excl. Overhead">@Html.DisplayNameFor(model => model.Amount)</span>
					</th>
					<th class="col-sm-2">
						@Html.DisplayNameFor(model => model.Status)
					</th>
					@if(!ViewBag.Reporting)
					{
						<th class="col-sm-1"></th>
					}
				</tr>
			</thead>
			<tbody id="industryProject_tbody">
				@foreach (var item in Model)
				{
				Html.RenderPartial("_Row", item);
				}
			</tbody>
			<tfoot>
				@Html.Action("_CreateForm", "LIndustryProjects")
			</tfoot>
		</table>
	</div>
</div>

@using (Html.Delayed(null, "List_Utilities"))
{
<script type="text/javascript" src="~/Scripts/ListUtilities.js"></script>
}
