@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.IndustryProject
@{
	string trclass = Model.LastChanged > ViewBag.LastSession ? "newlistitem" : null;
}

<tr class="@trclass" id="industryProject_@Model.ID">
	<td>
		@Html.DisplayFor(model => model.Partner)
	</td>
	<td>
		@Html.DisplayFor(model => model.Name)
	</td>
	<td>
		@Model.StartDate.ToString("d")
	</td>
	<td>
		@Model.EndDate.ToString("d")
	</td>
	<td>
		@Model.Ilk.ShortName
	</td>
	<td>
		@string.Format("{0:C0}", Model.Amount)
	</td>
	<td>
		@Model.Status.DisplayName()
	</td>
	@if(!ViewBag.Reporting)
	{
		<td class="actions">
			<a data-ajax="true"
				data-ajax-method="POST"
				data-ajax-success="ReplaceRow('industryProject', @Model.ID, data);"
				href="@Url.Action("_BeginEdit", "LIndustryProjects", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-edit" title="Industrieprojekt bearbeiten"></span></a>

			<a data-ajax="true"
				data-ajax-method="POST"
				data-ajax-confirm="Dieses Industrieprojekt wirklich löschen?"
				data-ajax-success="RemoveRow('industryProject', @Model.ID);"
				href="@Url.Action("_Delete", "LIndustryProjects", new {Area = "Session", id = Model.ID})">
				<span class="glyphicon glyphicon-remove" title="Industrieprojekt löschen"></span>
			</a>
		</td>
	}
</tr>