@model ILK_Protokoll.Areas.Session.Models.Lists.%%CLASSNAME%%
@using (Ajax.BeginForm("_Create", "L%%CLASSNAME%%s", new {Area = "Session"}, new AjaxOptions
{
	HttpMethod = "POST",
	OnSuccess = "AddRow('%%classname%%', data);",
	OnFailure = "DisplayErrorMessage('#%%classname%%_table', error + '\\n' + xhr.responseText);"
}, new {id = "%%classname%%_form"}))
{
	@Html.AntiForgeryToken()
	<tr id="%%classname%%_createform">
		<td>
			@Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control"}})
		</td>
		<td>
			@Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control"}})
		</td>
		<td>
			@Html.EditorFor(model => model.Time, new {htmlAttributes = new {@class = "form-control"}})
		</td>
		<td>
			@Html.EditorFor(model => model.Place, new {htmlAttributes = new {@class = "form-control"}})
		</td>
		<td>
			@Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
		</td>
		<td>
			@Html.EditorFor(model => model.Organizer, new {htmlAttributes = new {@class = "form-control"}})
		</td>
		<td>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
		</td>
	</tr>
}