@model ILK_Protokoll.Areas.Session.Models.Lists.%%CLASSNAME%%

<tr id="%%classname%%_@Model.ID">
	<td colspan="10">
		@using (Ajax.BeginForm("_Edit", "L%%CLASSNAME%%s", new { Area = "Session" }, new AjaxOptions
	{
		OnSuccess = "ReplaceRow('%%classname%%', " + Model.ID + ", data);",
		HttpMethod = "POST",
	}, new { @class = "tableform", id = "%%%_" + Model.ID + "_editform" }))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" , id = "%%%_" + Model.ID + "_start"} })
				</div>
				<div class="col-sm-1">
					@Html.EditorFor(model => model.Organizer, new { htmlAttributes = new { @class = "form-control", id = "%%%_" + Model.ID + "_start" } })
				</div>
				<div class="col-sm-1 actions">
					@Html.HiddenFor(model => model.ID)
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
					<a data-ajax="true"
						data-ajax-method="POST"
						data-ajax-success="ReplaceRow('%%classname%%', @Model.ID, data);"
						href="@Url.Action("_FetchRow", "L%%CLASSNAME%%s", new {Area = "Session", id = Model.ID})">
						<span class="glyphicon glyphicon-remove" title="Bearbeitung abbrechen"></span>
					</a>
				</div>
			</div>
		}
	</td>
</tr>