@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Topic>

<table class="table table-striped table-hover table-sortable" id="topicsTable">
	<thead>
		<tr>
			<th>
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.SessionTypeID)
			</th>
			<th class="col-sm-2">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th class="col-sm-6">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.Priority)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.ValidFrom)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Topic item in Model)
		{
			<tr>
				<td>
					@if (item.IsReadOnly)
					{
						<span class="sr-only">Gesperrt</span><i class="glyphicon glyphicon-lock"></i>
					}
				</td>
				<td>
					<h6 class="visible-xs">@Html.DisplayNameFor(model => model.SessionTypeID)</h6>
					@Html.DisplayFor(modelItem => item.SessionType.Name)
					@if (item.TargetSessionTypeID != null)
					{
						@:&#42;
					}
				</td>
				<td>
					<h6 class="visible-xs">@Html.DisplayNameFor(model => model.Title)</h6>
					<a href="@Url.Action("Details", new {id = item.ID})">@item.Title.Shorten(60)</a>
				</td>
				<td>
					<h6 class="visible-xs">@Html.DisplayNameFor(model => model.Description)</h6>
					<a href="@Url.Action("Details", new {id = item.ID})">@item.Description.Shorten(150)</a>
				</td>
				<td>
					<h6 class="visible-xs">@Html.DisplayNameFor(model => model.Priority)</h6>
					@item.Priority.DisplayName()
				</td>
				<td>
					<h6 class="visible-xs">@Html.DisplayNameFor(model => model.Created)</h6>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td>
					<h6 class="visible-xs">@Html.DisplayNameFor(model => model.ValidFrom)</h6>
					@Html.DisplayFor(modelItem => item.ValidFrom)
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="well well-sm">&#42; Diese Diskussionen werden gerade in einen anderen Sitzungstyp verschoben.</div>

@using (Html.Delayed(null, "ResponsiveTable"))
{
	<script type="text/javascript" src="~/Scripts/jquery.rtResponsiveTables.js"></script>
	<script type="text/javascript">
		$("#topicsTable").rtResponsiveTables({
			containerBreakPoint: 720
		});
	</script>
}