@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Topic>

<table class="table table-striped table-hover table-sortable" id="topicsTable">
	<thead>
		<tr>
			<th class="hidden-xs">
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.SessionTypeID)
			</th>
			<th>
				Stimme
			</th>
			<th class="col-sm-2">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th class="hidden-xs">
				@Html.DisplayNameFor(model => model.Time)
			</th>
			<th class="hidden-xs">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OwnerID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Priority)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th class="hidden-xs">
				@Html.DisplayNameFor(model => model.ValidFrom)
			</th>
			<th class="hidden-sm">
				<span title="Wiedervorlagedatum">WVD</span>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Topic item in Model)
		{
			<tr>
				<td class="hidden-xs">
					@if (item.IsReadOnly)
					{
						<span class="sr-only">Gesperrt</span>
						<i class="glyphicon glyphicon-lock"></i>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SessionType.Name)
					@if (item.TargetSessionTypeID != null)
					{
						@:&#42;
					}
				</td>
				<td>
					@{
						var myVote = item.Votes.SingleOrDefault(v => v.VoterID == ViewBag.Currentuser.ID);
						if (myVote != null)
						{
							<span class="voteicon">@Html.DisplayFor(m => myVote.Kind)</span>
						}
						else
						{
							<span class="hidden">5</span>
							<span class="sr-only">Nicht Berechtigt</span>
						}
					}
				</td>
				<td>
					<a href="@Url.Action("Details", new {id = item.ID})">@item.Title.Shorten(60)</a>
					@foreach (var tag in item.Tags)
					{
						@Html.DisplayFor(model => tag.Tag)
					}
				</td>
				<td class="hidden-xs">
					@item.Time.Shorten(40)
				</td>
				<td class="hidden-xs">
					<a href="@Url.Action("Details", new {id = item.ID})">@item.Description.Shorten(150)</a>
				</td>
				<td>
					@Html.DisplayFor(model => item.Owner.ShortName)
				</td>
				<td>
					@item.Priority.DisplayName()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created)<br />von
					@Html.DisplayFor(modelItem => item.Creator.ShortName)
				</td>
				<td class="hidden-xs">
					@Html.DisplayFor(modelItem => item.ValidFrom)
				</td>
				<td class="hidden-sm">
					@if (item.ResubmissionDate.HasValue)
					{
						@item.ResubmissionDate.Value.ToString("d.M.")
					}
					else
					{
						<text>-</text>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="well well-sm">&#42; Diese Diskussionen werden gerade in einen anderen Sitzungstyp verschoben.</div>