@model ILK_Protokoll.Models.Topic

@{
	ViewBag.Title = "Löschen";
}

<h2>@ViewBag.Title</h2>

<h3>Möchten Sie diesen Diskussionspunkt wirklich löschen?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.SessionTypeID)</dt>
		<dd>
			@Html.DisplayFor(model => model.SessionType.Name)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Title)</dt>
		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Time)</dt>
		<dd>
			@Html.DisplayFor(model => model.Time)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Description)</dt>
		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Proposal)</dt>
		<dd>
			@Html.DisplayFor(model => model.Proposal)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Priority)</dt>
		<dd>
			@Html.DisplayFor(model => model.Priority)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Created)</dt>
		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.ValidFrom)</dt>
		<dd>
			@Html.DisplayFor(model => model.ValidFrom)
		</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-danger" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>