@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Topic

@{
	ViewBag.Title = "Details (" + Model.Title + ")";
	var history = (ICollection<TopicHistory>)ViewBag.TopicHistory;
}

<h3>@ViewBag.Title</h3>

@Html.ActionLink("Zurück zum Index", "Index")

<hr />

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title-right">
					<p>
						<a href="@Url.Action("Edit", new {id = Model.ID})"><i class="glyphicon glyphicon-edit"></i> Bearbeiten</a>
					</p>
				</div>
				<h3 class="panel-title">Stammdaten</h3>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>@Html.DisplayNameFor(model => model.ID)</dt>
					<dd>@Html.DisplayFor(model => model.ID)</dd>

					<dt>@Html.DisplayNameFor(model => model.Title)</dt>
					<dd>@Html.DisplayFor(model => model.Title)</dd>

					<dt>@Html.DisplayNameFor(model => model.SessionTypeID)</dt>
					<dd>@Html.DisplayFor(model => model.SessionType.Name)</dd>

					@if (Model.TargetSessionTypeID != null)
					{
						<dt>@Html.DisplayNameFor(model => model.TargetSessionTypeID)</dt>
						<dd>@Html.DisplayFor(model => model.TargetSessionType.Name)</dd>
					}

					<dt>@Html.DisplayNameFor(model => model.OwnerID)</dt>
					<dd>@Html.DisplayFor(model => model.Owner.ShortName)</dd>

					<dt>@Html.DisplayNameFor(model => model.Priority)</dt>
					<dd>@Model.Priority.DisplayName()</dd>

					<dt>@Html.DisplayNameFor(model => model.Created)</dt>
					<dd>@Html.DisplayFor(model => model.Created)</dd>

					@if (history.Count > 0)
					{
						<dt>@Html.DisplayNameFor(model => model.ValidFrom)</dt>
						<dd>@Html.DisplayFor(model => model.ValidFrom) (Insgesamt @history.Count mal geändert)</dd>
					}
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">@Html.DisplayNameFor(model => model.Description)</h3>
			</div>
			<div class="panel-body">
				@Html.DisplayFor(model => model.Description)
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">@Html.DisplayNameFor(model => model.Proposal)</h3>
			</div>
			<div class="panel-body">
				@Html.DisplayFor(model => model.Proposal)
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary" style="background-color: #DDD">
	<div class="panel-heading">
		<h3 class="panel-title">@Html.DisplayNameFor(model => model.Votes)</h3>
	</div>
	<div class="panel-body" id="auditorlist_@Model.ID">
		@Html.Action("_List", "Votes", new { topic = Model, linkAllAuditors = true })
	</div>
</div>

<div class="panel panel-primary" style="background-color: #B7BCD6">
	<div class="panel-heading">
		<h3 class="panel-title">@Html.DisplayNameFor(model => model.Comments)</h3>
	</div>
	<div class="panel-body" id="comments_@Model.ID">
		@Html.Action("_List", "Comments", Model)
	</div>
</div>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Aufgaben</h3>
	</div>
	@if (Model.Assignments.Any())
	{
		Html.RenderPartial("~/Views/Assignments/_DetailedTable.cshtml", Model.Assignments.OrderBy(a => a.Type).ThenByDescending(a => a.DueDate));
	}
	else
	{
		<div class="panel-body">
			Diese Diskussion enthält keine Aufgaben.
		</div>
	}
	<div class="panel-footer">
		@Html.ActionLink("Neue Aufgabe erstellen", "Create", "Assignments", new {topicID = Model.ID}, null)
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">@Html.DisplayNameFor(model => model.Attachments)</h3>
			</div>
			@if (Model.Attachments.Count(a => a.Deleted == null) == 0)
			{
				<div class="panel-body" id="attachments_@Model.ID">Keine Dateianhänge vorhanden.</div>
			}
			else
			{
				@Html.Action("_List", "Attachments", new { topicID = Model.ID })
			}
			@Html.Action("_UploadForm", "Attachments", new { topicID = Model.ID })
		</div>
	</div>
</div>