@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Topic>

@{
	ViewBag.Title = "Übersicht";
}

@Html.ActionLink("Neue Diskussion", "Create", null, new {@class = "index-action btn btn-primary"})
<h2>@ViewBag.Title</h2>

<div class="panel-group" id="filter_accordion">
	<div class="panel panel-primary">
		<div class="panel-heading panel-collapse-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#filter_accordion" href="#filter_collapse" class="collapsed">
					Filter
				</a>
			</h4>
		</div>
		<div id="filter_collapse" class="panel-collapse collapse">
			<div class="panel-body">
				Hier kommen dann noch auswählbare Filterkriterien hinein....
			</div>
		</div>
	</div>
</div>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.SessionTypeID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Priority)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Created)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ValidFrom)
		</th>
		<th>Aktionen</th>
	</tr>

	@foreach (Topic item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.SessionType.Name)
				@if (item.TargetSessionTypeID != null)
				{
					@:&#42;
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@item.Priority.DisplayName()
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ValidFrom)
			</td>
			<td style="min-width: 120px;">
				@Html.ActionLink("Bearbeiten", "Edit", new {id = item.ID}) <br />
				@Html.ActionLink("Details", "Details", new {id = item.ID}) <br />
				@Html.ActionLink("Löschen", "Delete", new {id = item.ID})
			</td>
		</tr>
	}

</table>