@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Topic>

@{
	ViewBag.Title = "Übersicht";
}

@Html.ActionLink("Neue Diskussion", "Create", null, new { @class = "index-action btn btn-primary" })
<h2>@ViewBag.Title</h2>

<div class="panel-group" id="filter_accordion">
	<div class="panel panel-primary">
		<div class="panel-heading panel-collapse-heading" style="position: relative;">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#filter_accordion" href="#filter_collapse" class="collapsed">
					Filter
					<span class="divlink"></span>
				</a>
			</h4>
		</div>
		<div id="filter_collapse" class="panel-collapse collapse">
			<div class="panel-body">
				Hier kommen dann noch auswählbare Filterkriterien hinein....
			</div>
		</div>
	</div>
</div>

<div class="faketable container">
	<div class="faketable-header row hidden-sm hidden-xs">
		<div class="col-md-1">
			@Html.DisplayNameFor(model => model.SessionTypeID)
		</div>
		<div class="col-md-2">
			@Html.DisplayNameFor(model => model.Title)
		</div>
		<div class="col-md-6">
			@Html.DisplayNameFor(model => model.Description)
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-xs-4">
					@Html.DisplayNameFor(model => model.Priority)
				</div>
				<div class="col-xs-4">
					@Html.DisplayNameFor(model => model.Created)
				</div>
				<div class="col-xs-4">
					@Html.DisplayNameFor(model => model.ValidFrom)
				</div>
			</div>
		</div>
	</div>

	<div class="faketable-body">
		@foreach (Topic item in Model)
		{
			<div class="row" style="position: relative;">
				<a href="@Url.Action("Details", new { id = item.ID })"><span class="divlink"></span></a>
				<div class="col-md-1">
					<h6 class="visible-xs visible-sm">@Html.DisplayNameFor(model => model.SessionTypeID)</h6>
					@Html.DisplayFor(modelItem => item.SessionType.Name)
					@if (item.TargetSessionTypeID != null)
					{
						@:&#42;
					}
				</div>
				<div class="col-md-2">
					<h6 class="visible-xs visible-sm">@Html.DisplayNameFor(model => model.Title)</h6>
					@item.Title.Shorten(60)
				</div>
				<div class="col-md-6">
					<h6 class="visible-xs visible-sm">@Html.DisplayNameFor(model => model.Description)</h6>
					@item.Description.Shorten(150)
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-xs-4">
							<h6 class="visible-xs visible-sm">@Html.DisplayNameFor(model => model.Priority)</h6>
							@item.Priority.DisplayName()
						</div>
						<div class="col-xs-4">
							<h6 class="visible-xs visible-sm">@Html.DisplayNameFor(model => model.Created)</h6>
							@Html.DisplayFor(modelItem => item.Created)
						</div>
						<div class="col-xs-4">
							<h6 class="visible-xs visible-sm">@Html.DisplayNameFor(model => model.ValidFrom)</h6>
							@Html.DisplayFor(modelItem => item.ValidFrom)
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
