@model ILK_Protokoll.ViewModels.FilteredTopics

@{
	ViewBag.Title = "Übersicht";
}

@Html.ActionLink("Neue Diskussion", "Create", null, new {@class = "index-action btn btn-primary"})
<h2>@ViewBag.Title</h2>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">Filter</h4>
	</div>
	<div class="panel-body">
		@using (Html.BeginForm("Index", "Topics", FormMethod.Get, new {@class = "form-inline"}))
		{
			<div class="col-sm-3">
				<div class="row">
					<div class="form-group">
						@Html.EditorFor(model => model.ShowReadonly, new {htmlAttributes = new {@class = "form-control"}})
						@Html.LabelFor(model => model.ShowReadonly)
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						@Html.ListBoxFor(model => model.ShowTagsID, Model.TagList, new {@class = "multiselect"})
						<script type="text/javascript">
							$(document).ready(function() {
								$('#ShowTagsID.multiselect').multiselect({
									nonSelectedText: 'Alle Themen'
								});
							});
						</script>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row">
					<div class="form-group">
						@Html.DropDownListFor(model => model.ShowPriority, Model.PriorityList, new {@class = "form-control", style = "min-width:180px;"})
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						@Html.DropDownListFor(model => model.SessionTypeID, Model.SessionTypeList, "(Alle Sitzungstypen)", new {@class = "form-control", style = "min-width:180px;"})
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row">
					<div class="form-group">
						@Html.DropDownListFor(model => model.Timespan, Model.TimespanList, "(Zeitraum beliebig)", new {@class = "form-control", style = "min-width:180px;"})
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						@Html.DropDownListFor(m => m.OwnerID, Model.UserList, "(Alle Besitzer)", new {@class = "form-control", style = "min-width:180px;"})
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="row">
				</div>
				<div class="row">
					<div class="form-group">
						<input type="submit" value="Filtern" class="btn btn-primary" />
					</div>
				</div>
			</div>
		}
	</div>
</div>

@{
	Html.RenderPartial("~/Views/Topics/_DetailedTable.cshtml", Model.Topics);
}