@using ILK_Protokoll.util
@model ILK_Protokoll.ViewModels.TopicHistoryViewModel

@{
	ViewBag.Title = "Versionsverlauf (" + Model.Current.Title + ")";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Zurück zu Details", "Details", new {id = Model.Current.ID})

<hr />

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Initialversion (@Model.Current.Creator @Html.DisplayFor(model => model.Current.Created))</h3>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>@Html.DisplayNameFor(model => model.Current.Title)</dt>
					<dd>@Html.DisplayFor(model => model.Initial.Title)</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.SessionTypeID)</dt>
					<dd>@Model.SessionTypes[@Model.Initial.SessionTypeID]</dd>
					
					@if (Model.Initial.TargetSessionTypeID.HasValue)
					{
						<dt>@Html.DisplayNameFor(model => model.Current.TargetSessionTypeID)</dt>
						<dd>@Model.SessionTypes[@Model.Initial.TargetSessionTypeID.Value]</dd>
					}

					<dt>@Html.DisplayNameFor(model => model.Current.Time)</dt>
					<dd>@Model.Initial.Time</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.OwnerID)</dt>
					<dd>@Model.Usernames[@Model.Initial.OwnerID]</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.Priority)</dt>
					<dd>@Model.Initial.Priority.DisplayName()</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.Description)</dt>
					<dd>@Html.DisplayFor(model => model.Initial.Description, "String_Multiline")</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.Proposal)</dt>
					<dd>@Html.DisplayFor(model => model.Initial.Proposal, "String_Multiline")</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

@for (int i = 0; i < Model.Differences.Count; i++)
{
	var item = Model.Differences[i];
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">@(i + 1). Änderung (@item.Editor @Html.DisplayFor(model => item.Modified))</h3>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						@if (item.Title.Any(d => d.operation != Operation.EQUAL))
						{
							<dt>@Html.DisplayNameFor(model => model.Current.Title)</dt>
							<dd>@Html.DisplayFor(model => item.Title)</dd>
						}
						
						@if (item.SessionType != null)
						{
							<dt>Neuer Sitzungstyp</dt>
							<dd>@Html.DisplayFor(model => item.SessionType)</dd>
						}
						
						@if (item.TargetSessionType != null)
						{
							<dt>Neuer Ziel-Sitzungstyp</dt>
							<dd>@Html.DisplayFor(model => item.TargetSessionType)</dd>
						}

						@if (item.Time != null)
						{
							<dt>Neue Uhrzeit</dt>
							<dd>@Html.DisplayFor(model => item.Time)</dd>
						}
						
						@if (item.Owner != null)
						{
							<dt>Neuer Besitzer</dt>
							<dd>@Html.DisplayFor(model => item.Owner)</dd>
						}
						
						@if (item.Priority != null)
						{
							<dt>Neue Priorität</dt>
							<dd>@Html.DisplayFor(model => item.Priority)</dd>
						}
						
						@if (item.Description.Any(d => d.operation != Operation.EQUAL))
						{
							<dt>@Html.DisplayNameFor(model => model.Current.Description)</dt>
							<dd>@Html.DisplayFor(model => item.Description)</dd>
						}
						
						@if (item.Proposal.Any(d => d.operation != Operation.EQUAL))
						{
							<dt>@Html.DisplayNameFor(model => model.Current.Proposal)</dt>
							<dd>@Html.DisplayFor(model => item.Proposal)</dd>
						}
					</dl>
				</div>
			</div>
		</div>
	</div>
}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Aktuelle Version (seit @Model.Current.ValidFrom.ToString("g") )</h3>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>@Html.DisplayNameFor(model => model.Current.Title)</dt>
					<dd>@Html.DisplayFor(model => model.Current.Title)</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.SessionTypeID)</dt>
					<dd>@Model.SessionTypes[@Model.Current.SessionTypeID]</dd>
					
					@if (Model.Current.TargetSessionTypeID.HasValue)
					{
						<dt>@Html.DisplayNameFor(model => model.Current.TargetSessionTypeID)</dt>
						<dd>@Model.SessionTypes[@Model.Current.TargetSessionTypeID.Value]</dd>
					}
					
					<dt>@Html.DisplayNameFor(model => model.Current.Time)</dt>
					<dd>@Html.DisplayFor(model => model.Current.Time)</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.OwnerID)</dt>
					<dd>@Model.Usernames[@Model.Current.OwnerID]</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.Priority)</dt>
					<dd>@Model.Current.Priority.DisplayName()</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.Description)</dt>
					<dd>@Html.DisplayFor(model => model.Current.Description, "String_Multiline")</dd>

					<dt>@Html.DisplayNameFor(model => model.Current.Proposal)</dt>
					<dd>@Html.DisplayFor(model => model.Current.Proposal, "String_Multiline")</dd>
				</dl>
			</div>
		</div>
	</div>
</div>