@{
	ViewBag.Title = "Listen";
}

<div class="index-action">
	<a class="btn btn-default" onclick=" collapseListsOut(); "> Alle Listen ausklappen</a>
	<a class="btn btn-default" onclick=" collapseListsIn(); "> Alle Listen einklappen</a>
	@Html.ActionLink("Zurück", "Edit", "Master", new {Area = "Session"}, new {@class = "btn btn-default"})
	@Html.ActionLink("Weiter", "Index", "Discussion", new {Area = "Session"}, new {@class = "btn btn-primary"})
</div>

<h2>@ViewBag.Title</h2>

@if (ViewBag.LastSession != null)
{
	<p>Die letzte Sitzung dieses Typs wurde am @(((DateTime)ViewBag.LastSession).ToString("g")) durchgeführt.</p>
}
else
{
	<p>Eine Sitzung dieses Typs wird zum ersten Mal durchgeführt.</p>
}

<script type="text/javascript">
	function collapseListsOut() {
		$('.panel-collapse').collapse('show');
		$('.panel-collapse-heading a').removeClass("collapsed");
	}

	function collapseListsIn() {
		$('.panel-collapse').collapse('hide');
		$('.panel-collapse-heading a').addClass("collapsed");
	}

	var returnURL = "@(Request.Url != null ? Request.Url.AbsolutePath : "")";
</script>
		
@Html.Action("_List", "LEvents", new { Area = "Session" })

@Html.Action("_List", "LResearchProposals", new { Area = "Session" })

@Html.Action("_List", "LIndustryProjects", new { Area = "Session" })

@Html.Action("_List", "LConferences", new {Area = "Session"})

@Html.Action("_List", "LExtensions", new {Area = "Session"})

@Html.Action("_List", "LEmployeePresentations", new {Area = "Session"})

@Html.Action("_List", "LIlkDays", new {Area = "Session"})

@Html.Action("_List", "LIlkMeetings", new {Area = "Session"})

@Html.Action("_List", "LOpenings", new {Area = "Session"})

@Html.Action("_List", "LHolidays", new { Area = "Session" })
