@model ILK_Protokoll.Areas.Session.Models.Lists.Event
@using (Html.BeginForm("Create", "Events", new { Area = "Session" }, FormMethod.Post))
{
	@Html.AntiForgeryToken();
	<tr id="event_createform">
		<td>
			@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			@Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			@Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			@Html.EditorFor(model => model.Organizer, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
		</td>
	</tr>
}