@model IEnumerable<ILK_Protokoll.Areas.Session.Models.Lists.Event>

<h3>Termine</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.EndDate)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.Time)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.Place)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.Organizer)
			</th>
			<th class="col-xs-1">
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr id="event_@item.ID">
				<td>
					@item.StartDate.ToString("d")
				</td>
				<td>
					@if (item.EndDate.HasValue)
					{
						@item.EndDate.Value.ToString("d")
					}
					else
					{
						@:-
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Time)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Place)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Organizer)
				</td>
				<td class="actions">
					<a data-ajax="true"
						data-ajax-method="POST"
						data-ajax-mode="replace"
						data-ajax-update="#event_@item.ID"
						href="@Url.Action("_BeginEdit", "Events", new {Area="Session", eventID = item.ID})">
						<span class="glyphicon glyphicon-edit" title="Termin bearbeiten"></span>
					</a>

					<a data-ajax="true"
					   data-ajax-method="POST"
					   data-ajax-confirm="Termin wirklich löschen?"
						data-ajax-success="$('#event_@item.ID').remove();"
						href="@Url.Action("_Delete", "Events", new {Area="Session", eventID = item.ID})">
						<span class="glyphicon glyphicon-remove" title="Termin löschen"></span>
					</a>
				</td>
			</tr>
		}

		@Html.Action("_CreateForm", "Events")

	</tbody>
</table>
