@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Assignment>


<table class="table table-striped table-hover table-sortable" id="Assignments_detailed_table">
	<thead>
		<tr>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.OwnerID)
			</th>
			<th class="col-xs-2">
				@Html.DisplayNameFor(model => model.TopicID)
			</th>
			<th class="col-xs-4">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.DueDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ReminderSent)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDone)
			</th>
			<th class="col-xs-1">Aktionen</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			string visual;
			if ((DateTime.Now - item.DueDate).Duration().TotalDays < 1)
			{
				visual = "warning";
			}
			else if (item.DueDate < DateTime.Now && !item.IsDone)
			{
				visual = "danger";
			}
			else
			{
				visual = null;
			}
			<tr>
				<td>
					@item.Type.DisplayName()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Owner.ShortName)
				</td>
				<td>
					@Html.ActionLink(item.Topic.Title.Shorten(100), "Details", "Topics", new {id = item.TopicID}, null)
				</td>
				<td>
					<div style="position: relative;">
						<a href="@Url.Action("Details", "Assignments", new {id = item.ID})">
							<span class="divlink"></span>
							@item.Title.Shorten(100)
						</a>
					</div>
				</td>
				<td class="@visual">
					@item.DueDate.ToShortDateString()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReminderSent)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsDone)
				</td>
				<td class="actions">
					<a href="@Url.Action("Details", "Assignments", new {id = item.ID})"><span class="glyphicon glyphicon-expand" title="Details"></span></a>
					&nbsp;
					<a href="@Url.Action("Edit", "Assignments", new {id = item.ID})"><span class="glyphicon glyphicon-edit" title="Bearbeiten"></span></a>
					@if (ViewBag.CurrentSession != null)
					{
						<text>&nbsp;</text>
						<a href="@Url.Action("Delete", "Assignments", new {id = item.ID})"><span class="glyphicon glyphicon-remove" title="Löschen"></span></a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>