@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Assignment>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.Owner)
			</th>
			<th class="col-xs-3">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th class="col-xs-4">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.DueDate)
			</th>
			<th class="col-xs-1">
				@Html.DisplayNameFor(model => model.ReminderSent)
			</th>
			<th class="col-xs-1">Aktionen</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.Type.DisplayName()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Owner.ShortName)
				</td>
				<td>
					@item.Title.Shorten(100)
				</td>
				<td>
					@item.Description.Shorten(120)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DueDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReminderSent)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Details", "Details", new { id = item.ID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.ID })
				</td>
			</tr>
		}
	</tbody>
</table>