@using ILK_Protokoll.util
@model ILK_Protokoll.ViewModels.FilteredAssignments

@{
	ViewBag.Title = "Aufgaben";

}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayColumnNameFor(Model.Assignments, a => a.Title)
			</th>
			<th>
				@Html.DisplayColumnNameFor(Model.Assignments, a => a.Description)
			</th>
			<th>
				@Html.DisplayColumnNameFor(Model.Assignments, a => a.DueDate)
			</th>
			<th>
				@Html.DisplayColumnNameFor(Model.Assignments, a => a.ReminderSent)
			</th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Assignments)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DueDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ReminderSent)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Details", "Details", new { id = item.ID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.ID })
				</td>
			</tr>
		}
	</tbody>
</table>
