@{
	ViewBag.Title = "Listen";
}

<h2>@ViewBag.Title</h2>

		
@Html.Action("_List", "LEvents", new {Area = "Session"})
<hr />
@Html.Action("_List", "LConferences", new {Area = "Session"})
<hr />
@Html.Action("_List", "LExtensions", new {Area = "Session"})
<hr />
@Html.Action("_List", "LEmployeePresentations", new { Area = "Session" })
<hr />
@Html.Action("_List", "LIlkDays", new { Area = "Session" })
<hr />
@Html.Action("_List", "LIlkMeetings", new { Area = "Session" })
<hr />
@Html.Action("_List", "LOpenings", new { Area = "Session" })
<hr />
@Html.Action("_List", "LHolidays", new { Area = "Session" })
