@model ILK_Protokoll.Areas.Session.Models.Lists.EmployeePresentation
@{
	string trclass = Model.Created > ViewBag.LastSession ? "newlistitem" : null;
}

<tr class="@trclass" id="employeePresentation_@Model.ID">
	<td>
		@Html.DisplayFor(model => model.Employee)
	</td>
	<td>
		@Html.DisplayFor(model => model.Ilk.ShortName)
	</td>
	<td>
		@Html.DisplayFor(model => model.Prof)
	</td>
	<td>
		@Model.LastPresentation.ToString("d")
	</td>
	<td>
		@{
			if (Model.FileCount > 0)
			{
				<a href="@Model.FileURL">@Model.FileCount</a>
			}
			else
			{
				@:0	
			}
		}
	</td>
	<td>
		@Html.DisplayFor(model => model.Selected)
	</td>
	@if (!ViewBag.Reporting)
	{
		<td class="actions">
		
			@{
				string url = Request.Url != null ? Request.Url.PathAndQuery : null;
			}

			<a href="@Url.Action("Edit", "LEmployeePresentations", new {Area = "Session", id = Model.ID, returnURL = url})" target="empPres"><span class="glyphicon glyphicon-new-window" title="Eintrag ausführlich bearbeiten"></span></a>
		

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-success="ReplaceRow('employeePresentation', @Model.ID, data);"
			   href="@Url.Action("_BeginEdit", "LEmployeePresentations", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-edit" title="Eintrag bearbeiten"></span></a>

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-confirm="Eintrag wirklich löschen?"
			   data-ajax-success="RemoveRow('employeePresentation', @Model.ID);"
			   href="@Url.Action("_Delete", "LEmployeePresentations", new {Area = "Session", id = Model.ID})">
				<span class="glyphicon glyphicon-remove" title="Eintrag löschen"></span>
			</a>
		</td>
	}
</tr>