@model ILK_Protokoll.Areas.Session.Models.Lists.Opening

<tr id="opening_@Model.ID">
	<td colspan="6">
		@using (Ajax.BeginForm("_Edit", "LOpenings", new {Area = "Session"}, new AjaxOptions
		{
			OnSuccess = "ReplaceRow('opening', " + Model.ID + ", data);",
			HttpMethod = "POST",
		}, new {@class = "tableform", id = "open_" + Model.ID + "_editform"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.EditorFor(model => model.Project, new {htmlAttributes = new {@class = "form-control", id = "open_" + Model.ID + "proj"}})
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.Start, new {htmlAttributes = new {@class = "form-control", id = "open_" + Model.ID + "start"}})
				</div>
				<div class="col-sm-1">
					@Html.EditorFor(model => model.TG, new {htmlAttributes = new {@class = "form-control", id = "open_" + Model.ID + "tg"}})
				</div>
				<div class="col-sm-2">
					@Html.EnumDropDownListFor(model => model.Prof, new {@class = "form-control", id = "open_" + Model.ID + "prof"})
				</div>
				<div class="col-sm-4">
					@Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", id = "open_" + Model.ID + "desc"}})
				</div>
				<div class="col-sm-1 actions">
					@Html.HiddenFor(model => model.ID)
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
					<a data-ajax="true"
					   data-ajax-method="POST"
					   data-ajax-success="ReplaceRow('opening', @Model.ID, data);"
					   href="@Url.Action("_FetchRow", "LOpenings", new {Area = "Session", id = Model.ID})">
						<span class="glyphicon glyphicon-remove" title="Bearbeitung abbrechen"></span>
					</a>
				</div>
			</div>
		}
	</td>
</tr>