@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Areas.Session.Models.Lists.Opening>

<h3>Vakante Stellen</h3>

<table id="opening_table" class="table table-striped table-hover table-sortable">
	<thead>
		<tr>
			<th class="col-sm-2">
				@Html.DisplayNameFor(model => model.Project)
			</th>
			<th class="col-sm-2">
				@Html.DisplayNameFor(model => model.Start)
			</th>
			<th class="col-sm-1">
				@Html.DisplayNameFor(model => model.TG)
			</th>
			<th class="col-sm-2">
				@Html.DisplayNameFor(model => model.Prof)
			</th>
			<th class="col-sm-4">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th class="col-sm-1"></th>
		</tr>
	</thead>
	<tbody id="opening_tbody">
		@foreach (var item in Model)
		{
			Html.RenderPartial("_Row", item);
		}
	</tbody>
	<tfoot>
		@if (!ViewBag.Reporting)
		{
			@Html.Action("_CreateForm", "LOpenings")
		}
	</tfoot>

</table>

@using (Html.Delayed(null, "List_Utilities"))
{
	<script type="text/javascript" src="~/Scripts/ListUtilities.js"></script>
}