@using ILK_Protokoll.Models
@model IEnumerable<ILK_Protokoll.Models.Document>

@{
	ViewBag.Title = "Papierkorb";
}

@Html.ActionLink("Papierkorb leeren", "Purge", null, new {@class = "index-action btn btn-danger"})

<h2>@ViewBag.Title</h2>

<p>Der Papierkorb enthält Dokumente die an anderer Stelle gelöscht wurden. Hier können Sie diese wiederherstellen oder endgültig löschen.<br />Dokumente, deren übergeordnetes Objekt gelöscht wurde, können nicht wiederhergestellt werden.</p>

@if (!Model.Any())
{
	<p>Der Papierkorb ist leer.</p>
}
else
{
	<table class="table table-striped table-hover table-sortable" id="RecycleBin_table">
		<thead>
			<tr>
				<th>
					Ort
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Deleted)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DisplayName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Created)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FileSizeSum)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Document item in Model)
			{
				<tr id="attachment_@item.ID">
					<td>
						@if (item.TopicID != null)
						{
							<h6>@Html.DisplayNameFor(model => model.TopicID)</h6>
							@Html.ActionLink(item.Topic.Title, "Details", "Topics", new {Area = "", id = item.TopicID}, null)
						}
						else if (item.EmployeePresentationID != null)
						{
							<h6>@Html.DisplayNameFor(model => model.EmployeePresentationID)</h6>
							@Html.ActionLink(item.EmployeePresentation.ToString(), "Edit", "LEmployeePresentations", new {Area = "Session", id = item.EmployeePresentationID}, null)
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Deleted)
					</td>
					<td>
						@Html.ActionLink(item.DisplayName, "Details", "Attachments", new {id = item.ID, Area = ""}, null)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Created)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FileSizeSum)
					</td>
					<td>
						@if ((item.TopicID != null) && !item.Topic.IsReadOnly || item.EmployeePresentationID != null)
						{
							@Ajax.ActionLink("Wiederherstellen", "_Restore", "RecycleBin",
								new {documentID = item.ID},
								new AjaxOptions {HttpMethod = "POST", OnSuccess = "removeFile('#attachment_" + @item.ID + "');"},
								new {@class = "text-success"})
							<br />
						}
						@Ajax.ActionLink("Löschen", "_PermanentDelete", "Attachments",
							new {area = "", documentID = item.ID},
							new AjaxOptions {Confirm = "Dokument endgültig löschen?", HttpMethod = "POST", OnSuccess = "removeFile('#attachment_" + @item.ID + "');"},
							new {@class = "text-danger"})
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<script type="text/javascript">
	function removeFile(element) {
		if ($(element).siblings().length == 0) {
			$(element).parent().parent().replaceWith("<p>Der Papierkorb ist leer.</p>"); // Remove the whole table
		} else {
			$(element).remove();
		}
	}
</script>