@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Tag
<a href="@Url.Action("Results", "Search", new { Area = "", searchterm = "hasTag:\"" + Model.Name + "\"" })" class="label" style="color: @Model.FontColor.ToHex(); background-color: @Model.BackgroundColor.ToHex();" data-tagid="@Model.ID">@Model.Name</a>