@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.Extension

<tr id="extension_createform">
	<td colspan="6">
		@using (Ajax.BeginForm("_Create", "LExtensions", new {Area = "Session"}, new AjaxOptions
		{
			HttpMethod = "POST",
			OnSuccess = "AddRow('extension', data);",
			OnFailure = "DisplayErrorMessage('#extension_form', '<br />' + xhr.responseText);"
		}, new {@class = "tableform", id = "extension_form"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.TextEditorFor(model => model.Employee, "ext_create_emp")
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", id = "ext_create_end"}})
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.ExtensionNumber, new {htmlAttributes = new {@class = "form-control", id = "ext_create_ext"}})
				</div>
				<div class="col-sm-4">
					@Html.TextEditorFor(model => model.Comment, "ext_create_comm")
				</div>
				<div class="col-sm-1">
					@Html.EnumDropDownListFor(model => model.Approval, new {@class = "form-control", id = "ext_create_app"})
				</div>
				<div class="col-sm-1">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
				</div>
			</div>
		}
	</td>
</tr>