@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Assignment

<p>
	Eine Ihrer Aufgaben wird in Kürze (<b>@Model.DueDate.ToString("d")</b>) fällig.
</p>

<a href="@ViewBag.Host@Url.Action("Details", "Assignments", new {id = Model.ID})">Detailseite</a><br/>
<p>
	<a href="@ViewBag.Host@Url.Action("MarkAsDone", "Assignments", new {id = Model.ID})">Als erledigt kennzeichnen</a>
</p>

<h3>@Model.Title</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			Besitzer:
		</dt>
		<dd>
			@Model.Owner.EmailName
		</dd>

		<dt>
			Fällig am:
		</dt>
		<dd>
			@Model.DueDate.ToString("d")
		</dd>

		<dt>
			Diskussion:
		</dt>
		<dd>
			<a href="@ViewBag.Host@Url.Action("Details", "Topics", new {id = Model.Topic.ID})">@Model.Topic.Title</a>
		</dd>

		<dt>
			Typ:
		</dt>
		<dd>
			@Model.Type.DisplayName()
		</dd>

		<dt>
			Beschreibung:
		</dt>
		<dd>
			@Model.Description
		</dd>
	</dl>
</div>