@using ILK_Protokoll.util
@model ILK_Protokoll.Models.Assignment

<p>
	Für Sie wurde eine neue Aufgabe im ILK-Protokoll hinterlegt, deren Erledigung bis zum <b>@Model.DueDate.ToString("d")</b> erfolgen sollte.
</p>

<a href="@ViewBag.Host@Url.Action("Details", "Assignments", new {id = Model.ID, Area = ""})">Detailseite</a><br/>
<p>
	<a href="@ViewBag.Host@Url.Action("MarkAsDone", "Assignments", new {id = Model.ID, Area = ""})">Als erledigt kennzeichnen</a>
</p>

<h3>@Model.Title</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			Besitzer:
		</dt>
		<dd>
			@Model.Owner.EmailName
		</dd>

		<dt>
			Diskussion:
		</dt>
		<dd>
			<a href="@ViewBag.Host@Url.Action("Details", "Topics", new {id = Model.Topic.ID, Area = ""})">@Model.Topic.Title</a>
		</dd>

		<dt>
			Typ:
		</dt>
		<dd>
			@Model.Type.DisplayName()
		</dd>

		<dt>
			Beschreibung:
		</dt>
		<dd>
			@Model.Description
		</dd>
	</dl>
</div>