@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@{
	var user = (User)ViewBag.User;
	var assignment = (Assignment)ViewBag.Assignment;
	var name = string.Join(" ", user.LongName.Split(',').Reverse()).Trim();
}
<p>Für Sie wurde eine neue Aufgabe im ILK-Protokoll hinterlegt, deren Erledigung bis zum <b>@assignment.DueDate.ToString("d")</b> erfolgen sollte.</p>

<a href="@ViewBag.Host@Url.Action("Details", "Assignments", new { id = assignment.ID, Area = "" })">Detailseite</a><br />
<p>
	<a href="@ViewBag.Host@Url.Action("MarkAsDone", "Assignments", new { id = assignment.ID, Area = "" })">Als erledigt kennzeichnen</a>
</p>

<h3>@assignment.Title</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			Besitzer:
		</dt>
		<dd>
			@name
		</dd>

		<dt>
			Diskussion:
		</dt>
		<dd>
			<a href="@ViewBag.Host@Url.Action("Details", "Topics", new { id = assignment.Topic.ID, Area = "" })">@assignment.Topic.Title</a>
		</dd>

		<dt>
			Typ:
		</dt>
		<dd>
			@assignment.Type.DisplayName()
		</dd>

		<dt>
			Beschreibung:
		</dt>
		<dd>
			@assignment.Description
		</dd>
	</dl>
</div>