@using ILK_Protokoll.Models
@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Topic>
@{
	var report = (SessionReport)ViewBag.Report;
}
<p>Soeben wurde eine Sitzung des Typs &raquo;@report.SessionType.Name&laquo; beendet.</p>

<a href="@ViewBag.Host@Url.Action("Details", "SessionReports", new {id = report.ID, Area = ""})">Sitzungsprotokoll zum Download</a><br />


<h3>Folgende Themen wurden diskutiert:</h3>

<table class="table">
	<thead>
		<tr>
			<th width="20%">
				Titel
			</th>
			<th width="60%">
				Beschreibung
			</th>
			<th width="10%">
				Erstellt
			</th>
			<th width="10%">
				Aktion / Entscheidung
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Topic item in Model)
		{
			<tr>
				<td>
					@item.Title.Shorten(60)
				</td>
				<td>
					@item.Description.Shorten(150)
				</td>
				<td>
					@item.Created.ToString("d")
				</td>
				<td>
					@item.Lock.Action.DisplayName()
					@if (item.Lock.Action == TopicAction.None && item.ResubmissionDate != null)
					{
						<text><br />ab dem</text>
						@item.ResubmissionDate.Value.ToString("d")
					}
				</td>
			</tr>
		}
	</tbody>
</table>