@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.Conference

<tr id="conference_createform">
	<td colspan="8">
		@using (Ajax.BeginForm("_Create", "LConferences", new {Area = "Session"}, new AjaxOptions
		{
			HttpMethod = "POST",
			OnSuccess = "AddRow('conference', data);",
			OnFailure = "DisplayErrorMessage('#conference_form', '<br />' + xhr.responseText);"
		}, new {@class = "tableform", id = "conference_form"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control", id = "conf_create_start"}})
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", id = "conf_create_end"}})
				</div>
				<div class="col-sm-3">
					@Html.TextEditorFor(model => model.Description, "conf_create_descr")
				</div>
				<div class="col-sm-1">
					@Html.DropDownListFor(m => m.IlkID, (SelectList)ViewBag.UserList, new {@class = "form-control", id = "conf_create_ilk"})
				</div>
				<div class="col-sm-1">
					@Html.TextEditorFor(model => model.Employee, "conf_create_emp")
				</div>
				<div class="col-sm-1">
					@Html.TextEditorFor(model => model.Funding, "conf_create_fund")
				</div>
				<div class="col-sm-1">
					@Html.EnumDropDownListFor(model => model.Approval, new {@class = "form-control", id = "conf_create_app"})
				</div>
				<div class="col-sm-1">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
				</div>
			</div>
		}
	</td>
</tr>

@using (Html.Delayed(null, "conf_date_sync"))
{
	<script type="text/javascript">
		$('#conf_create_start').change(function() {
			$('#conf_create_end').val($('#conf_create_start').val());
		});
		$('#conf_create_start_display').change(function() {
			$('#conf_create_end').val($('#conf_create_start').val());
			$('#conf_create_end_display').val($('#conf_create_start_display').val());
		});
	</script>
}