@model ILK_Protokoll.Areas.Session.Models.Lists.Conference

<tr id="conference_@Model.ID">
	<td colspan="8">
		@using (Ajax.BeginForm("_Edit", "LConferences", new {Area = "Session"}, new AjaxOptions
		{
			OnSuccess = "ReplaceRow('conference', " + Model.ID + ", data);",
			HttpMethod = "POST",
		}, new {@class = "tableform", id = "conf_" + Model.ID + "_editform"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control", id = "conf_" + Model.ID + "start"}})
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", id = "conf_" + Model.ID + "end"}})
				</div>
				<div class="col-sm-3">
					@Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", id = "conf_" + Model.ID + "desc"}})
				</div>
				<div class="col-sm-1">
					@Html.DropDownListFor(m => m.IlkID, (SelectList)ViewBag.UserList, new {@class = "form-control", id = "conf_" + Model.ID + "ilk"})
				</div>
				<div class="col-sm-1">
					@Html.EditorFor(model => model.Employee, new {htmlAttributes = new {@class = "form-control", id = "conf_" + Model.ID + "emp"}})
				</div>
				<div class="col-sm-1">
					@Html.EditorFor(model => model.Funding, new {htmlAttributes = new {@class = "form-control", id = "conf_" + Model.ID + "fund"}})
				</div>
				<div class="col-sm-1">
					@Html.EnumDropDownListFor(model => model.Approval, new {@class = "form-control", id = "conf_" + Model.ID + "appr"})
				</div>
				<div class="col-sm-1 actions">
					@Html.HiddenFor(model => model.ID)
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
					<a data-ajax="true"
					   data-ajax-method="POST"
					   data-ajax-success="ReplaceRow('conference', @Model.ID, data);"
					   href="@Url.Action("_FetchRow", "LConferences", new {Area = "Session", id = Model.ID})">
						<span class="glyphicon glyphicon-remove" title="Bearbeitung abbrechen"></span>
					</a>
				</div>
			</div>
		}
	</td>
</tr>