@model ILK_Protokoll.Areas.Session.Models.Lists.Conference
@{
	string trclass = Model.LastChanged > ViewBag.LastSession ? "newlistitem" : null;
}

<tr class="@trclass" id="conference_@Model.ID">
	<td>
		@Model.StartDate.ToString("d")
	</td>
	<td>
		@Model.EndDate.ToString("d")
	</td>
	<td>
		@Html.DisplayFor(model => model.Description)
	</td>
	<td>
		@Html.DisplayFor(model => model.Ilk.ShortName)
	</td>
	<td>
		@Html.DisplayFor(model => model.Employee)
	</td>
	<td>
		@Html.DisplayFor(model => model.Funding)
	</td>
	<td>
		@Html.DisplayFor(model => model.Approval)
	</td>
	@if (!ViewBag.Reporting)
	{
		<td class="actions">
			<a href="@Url.Action("Download", "LConferences", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-download" title="Termin herunterladen"></span></a>

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-success="ReplaceRow('conference', @Model.ID, data);"
			   href="@Url.Action("_BeginEdit", "LConferences", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-edit" title="Konferenz bearbeiten"></span></a>

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-confirm="Diese Konferenz wirklich löschen?"
			   data-ajax-success="RemoveRow('conference', @Model.ID);"
			   href="@Url.Action("_Delete", "LConferences", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-remove" title="Konferenz löschen"></span></a>
		</td>
	}
</tr>