@model ILK_Protokoll.Areas.Session.Models.Lists.Holiday
@using (Ajax.BeginForm("_Create", "LHolidays", new { Area = "Session" }, new AjaxOptions
{
	HttpMethod = "POST",
	OnSuccess = "AddRow('Holiday', data);",
	OnFailure = "DisplayErrorMessage('#Holiday_table', '<br />' + xhr.responseText);"
}, new { id = "Holiday_form" }))
{
	@Html.AntiForgeryToken()
	<tr id="Holiday_createform">
		<td>
			@Html.DropDownListFor(m => m.PersonID, (SelectList)ViewBag.UserList, new { @class = "form-control" })
		</td>
		<td>
			@Html.EditorFor(model => model.Occasion, new { htmlAttributes = new { @class = "form-control" } })
		</td>
		<td>
			<div class="row">
				<div class="col-sm-6">
					@Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
				</div>
				<div class="col-sm-6">
					@Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</td>
		<td>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
		</td>
	</tr>
}