@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.Holiday

<tr id="Holiday_createform">
	<td colspan="4">
		@using (Ajax.BeginForm("_Create", "LHolidays", new {Area = "Session"}, new AjaxOptions
		{
			HttpMethod = "POST",
			OnSuccess = "AddRow('Holiday', data);",
			OnFailure = "DisplayErrorMessage('#Holiday_form', '<br />' + xhr.responseText);"
		}, new {@class = "tableform", id = "Holiday_form"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-3">
					@Html.DropDownListFor(m => m.PersonID, (SelectList)ViewBag.UserList, new {@class = "form-control", id = "holi_create_pers"})
				</div>
				<div class="col-sm-3">
					@Html.TextEditorFor(model => model.Occasion, "holi_create_occ")
				</div>
				<div class="col-sm-5">
					<div class="row">
						<div class="col-sm-6">
							@Html.EditorFor(model => model.Start, new {htmlAttributes = new {@class = "form-control", id = "holi_create_start"}})
						</div>
						<div class="col-sm-6">
							@Html.EditorFor(model => model.End, new {htmlAttributes = new {@class = "form-control", id = "holi_create_end"}})
						</div>
					</div>
				</div>
				<div class="col-sm-1">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
				</div>
			</div>
		}
	</td>
</tr>

@using (Html.Delayed(null, "holi_date_sync"))
{
	<script type="text/javascript">
		$('#holi_create_start').change(function() {
			$('#holi_create_end').val($('#holi_create_start').val());
		});
		$('#holi_create_start_display').change(function() {
			$('#holi_create_end').val($('#holi_create_start').val());
			$('#holi_create_end_display').val($('#holi_create_start_display').val());
		});
	</script>
}