@model ILK_Protokoll.Areas.Session.Models.Lists.Holiday
@{
	string trclass = Model.LastChanged > ViewBag.LastSession ? "newlistitem" : null;
}

<tr class="@trclass" id="Holiday_@Model.ID">
	<td>
		@Html.DisplayFor(model => model.Person.LongName)
	</td>
	<td>
		@Html.DisplayFor(model => model.Occasion)
	</td>
	<td>
		@if (Model.Start == null || Model.End == null)
		{
			@:Kein Urlaub
		}
		else
		{
			@: @Model.Start.Value.ToString("d") bis @Model.End.Value.ToString("d")
		}
	</td>
	@if (!ViewBag.Reporting)
	{
		<td class="actions">
			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-success="ReplaceRow('Holiday', @Model.ID, data);"
			   href="@Url.Action("_BeginEdit", "LHolidays", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-edit" title="Urlaubseintrag bearbeiten"></span></a>

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-confirm="Urlaubseintrag wirklich löschen?"
			   data-ajax-success="RemoveRow('Holiday', @Model.ID);"
			   href="@Url.Action("_Delete", "LHolidays", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-remove" title="Urlaubseintrag löschen"></span></a>
		</td>
	}
</tr>