@model IEnumerable<ILK_Protokoll.Models.SessionReport>

@{
	ViewBag.Title = "Protokolle";
}


<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover table-sortable" id="SessionReport_table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SessionType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Manager)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.End)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SessionType.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Manager.LongName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.End)
				</td>
				<td>
					@Html.ActionLink("PDF", "Details", new {id = item.ID}, new {target = "pdfreport"})
				</td>
			</tr>
		}
	</tbody>
</table>