@using ILK_Protokoll.util
@model IEnumerable<ILK_Protokoll.Models.Decision>

<table class="table table-striped table-hover table-sortable" id="Decision_table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th>
				Beschlussdatum
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OriginTopic)
			</th>
			<th>
				Push-Status
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Text)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.Type.DisplayName()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Report.End)
				</td>
				<td>
					<div style="position: relative;">
						<a href="@Url.Action("Details", "Topics", new {id = item.OriginTopic.ID})">
							@Html.DisplayFor(modelItem => item.OriginTopic.Title)
							<span class="divlink"></span></a>
						@foreach (var tag in item.OriginTopic.Tags)
						{
							@Html.DisplayFor(model => tag.Tag)
						}
					</div>
				</td>
				@{
					var pushtargets = item.OriginTopic.PushTargets.Select(pt => pt.Confirmed).ToList();
					var confirmed = pushtargets.Count(x => x);
					var cellclass = confirmed == pushtargets.Count ? "success" : null;
				}
				<td class="@cellclass text-center">
					@(confirmed)&#8202;/&#8202;@pushtargets.Count
				</td>
				<td>
					<div style="position: relative;">
						<a href="@Url.Action("Details", "Topics", new {id = item.OriginTopic.ID})">
							@item.Text.Shorten(200)
							<span class="divlink"></span>
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>