@using ILK_Protokoll.util
@model ILK_Protokoll.ViewModels.FilteredDecisions

@{
	ViewBag.Title = "Beschlüsse";


	string divstyle = null;
	if (Model.Timespan != -1)
	{
		divstyle = "display: none;";
	}
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">Filter</h4>
	</div>
	<div class="panel-body">
		@using (Html.BeginForm("Index", "Decisions", FormMethod.Get))
		{
			<div class="form-inline">
				<div class="col-sm-2">
					<div class="row">
						<div class="form-group">
							@Html.EditorFor(model => model.ShowClosed)
							@Html.LabelFor(model => model.ShowClosed)
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							@Html.EditorFor(model => model.ShowResolution)
							@Html.LabelFor(model => model.ShowResolution)
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<div class="form-group">
							@Html.DropDownListFor(model => model.Timespan, Model.TimespanChoices, new {@class = "form-control", id = "DecisionFilterDropdown"})
						</div>
					</div>
				</div>

				<div class="col-sm-4 form-horizontal">
					<div id="TimeWindowSelector" style="@divstyle">
						<div class="row">
							<div class="form-group">
								@Html.LabelFor(model => model.WindowStartDate, new {@class = "control-label", style = "width:60px;"})
								@Html.EditorFor(model => model.WindowStartDate, new {htmlAttributes = new {@class = "form-control"}})
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								@Html.LabelFor(model => model.WindowEndDate, new {@class = "control-label", style = "width:60px;"})
								@Html.EditorFor(model => model.WindowEndDate, new {htmlAttributes = new {@class = "form-control"}})
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<div class="form-group">
							@Html.EditorFor(model => model.Searchterm, new {htmlAttributes = new {@class = "form-control", placeholder = "Suchbegriff"}})
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<input type="submit" value="Filtern" class="btn btn-primary" />
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@using (Html.Delayed(null, "Decisions_Toggle"))
{
	<script type="text/javascript">
		$("#DecisionFilterDropdown").on("change", function() {
			if (this.value == -1) {
				$("#TimeWindowSelector").show("fade", 400);
			} else {
				$("#TimeWindowSelector").hide("fade", 400);
			}
		})
	</script>
}

@{
	Html.RenderPartial("~/Views/Decisions/_DetailedTable.cshtml", Model.Decisions);
}