<div class="navbar navbar-default navbar-secondary navbar-fixed-top nav-justified">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#secondaryNavbarContent">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<p class="visible-xs navbar-brand">Administrationsbereich</p>
		</div>

		<div class="navbar-collapse collapse" id="secondaryNavbarContent">
			<ul class="nav navbar-nav">
				<li class="@ViewBag.ASettingsStyle">@Html.ActionLink("Einstellungen", "Index", "Settings", new { Area = "Administration" }, null)</li>
				<li class="@ViewBag.ASTStyle">@Html.ActionLink("Sitzungstypen", "Index", "SessionTypes", new { Area = "Administration" }, null)</li>
				<li class="@ViewBag.ARBStyle">@Html.ActionLink("Tags", "Index", "Tags", new { Area = "Administration" }, null)</li>
				<li class="@ViewBag.ARBStyle">@Html.ActionLink("Papierkorb", "Index", "RecycleBin", new { Area = "Administration" }, null)</li>
				<li class="@ViewBag.AUserStyle">@Html.ActionLink("Benutzer", "Index", "User", new { Area = "Administration" }, null)</li>
			</ul>
		</div>
	</div>
</div>