@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.Event

<tr id="event_createform">
	<td colspan="7">
		@using (Ajax.BeginForm("_Create", "LEvents", new {Area = "Session"}, new AjaxOptions
		{
			HttpMethod = "POST",
			OnSuccess = "AddRow('event', data);",
			OnFailure = "DisplayErrorMessage('#event_form', '<br />' + xhr.responseText);"
		}, new {@class = "tableform", id = "event_form"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control", id = "evt_create_start"}})
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", id = "evt_create_end"}})
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-lg-6" style="max-width: 150px;">
							@Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", id = "evt_create_time", placeholder = Html.GetDisplayName(model => model.Time), type = "time" } })
						</div>
						<div class="col-lg-6">
							@Html.TextEditorFor(model => model.Place, "evt_create_place")
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					@Html.EditorFor(model => model.Description, new
					{
						htmlAttributes = new
						{
							@class = "form-control",
							id = "evt_create_desc",
							rows = "2",
							placeholder = Html.DisplayNameFor(model => model.Description)
						}
					})
				</div>
				<div class="col-sm-1">
					@Html.TextEditorFor(model => model.Organizer, "evt_create_orga")
				</div>
				<div class="col-sm-1">
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-check"></span></button>
				</div>
			</div>
		}
	</td>
</tr>

@using (Html.Delayed(null, "evt_date_sync"))
{
	<script type="text/javascript">
		$('#evt_create_start').change(function() {
			$('#evt_create_end').val($('#evt_create_start').val());
		});
		$('#evt_create_start_display').change(function() {
			$('#evt_create_end').val($('#evt_create_start').val());
			$('#evt_create_end_display').val($('#evt_create_start_display').val());
		});
	</script>
}