@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.Event

<tr id="event_@Model.ID">
	<td colspan="7">
		@using (Ajax.BeginForm("_Edit", "LEvents", new {Area = "Session"}, new AjaxOptions
		{
			OnSuccess = "ReplaceRow('event', " + Model.ID + ", data);",
			HttpMethod = "POST",
		}, new {@class = "tableform", id = "evt_" + Model.ID + "_editform"}))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-sm-2">
					@Html.EditorFor(model => model.StartDate,
						new {htmlAttributes = new {@class = "form-control", id = "evt_" + Model.ID + "start"}}
						)
				</div>
				<div class="col-sm-2">
					@Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", id = "evt_" + Model.ID + "end"}})
				</div>
				<div class="col-sm-2">
					<div class="row">
						<div class="col-lg-6" style="max-width: 150px;">
							@Html.EditorFor(model => model.Time, new {htmlAttributes = new {@class = "form-control", id = "evt_" + Model.ID + "time", type = "time", list = "time_datalist"}})
						</div>
						<div class="col-lg-6">
							@Html.TextEditorFor(model => model.Place, "evt_" + Model.ID + "place")
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					@Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", id = "evt_" + Model.ID + "desc"}})
				</div>
				<div class="col-sm-1">
					@Html.TextEditorFor(model => model.Organizer, "evt_" + Model.ID + "orga")
				</div>
				<div class="col-sm-1 actions">
					@Html.HiddenFor(model => model.ID)
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>
					<a data-ajax="true"
					   data-ajax-method="POST"
					   data-ajax-success="ReplaceRow('event', @Model.ID, data);"
					   href="@Url.Action("_FetchRow", "LEvents", new {Area = "Session", id = Model.ID})">
						<span class="glyphicon glyphicon-remove" title="Bearbeitung abbrechen"></span>
					</a>
				</div>
			</div>
		}
	</td>
</tr>