@using ILK_Protokoll.util
@model ILK_Protokoll.Areas.Session.Models.Lists.Event
@{
	string trclass = Model.LastChanged > ViewBag.LastSession ? "newlistitem" : null;
}

<tr class="@trclass" id="event_@Model.ID">
	<td>
		@Model.StartDate.ToString("d")
	</td>
	<td>
		@Model.EndDate.ToString("d")
	</td>
	<td>
		@Html.DisplayFor(model => model.Time)
	</td>
	<td>
		@Html.DisplayFor(model => model.Place)
	</td>
	<td class="shorten">@Html.DisplayFor(model => model.Description)</td>
	<td>
		@Html.DisplayFor(model => model.Organizer)
	</td>
	@if (!ViewBag.Reporting)
	{
		<td class="actions">
			<a href="@Url.Action("Download", "LEvents", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-download" title="Termin herunterladen"></span></a>

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-success="ReplaceRow('event', @Model.ID, data);"
			   href="@Url.Action("_BeginEdit", "LEvents", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-edit" title="Termin bearbeiten"></span></a>

			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-confirm="Termin wirklich löschen?"
			   data-ajax-success="RemoveRow('event', @Model.ID);"
			   href="@Url.Action("_Delete", "LEvents", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-remove" title="Termin löschen"></span></a>
		</td>
	}
</tr>

@using (Html.Delayed(null, "ShortenEvents"))
{
	<script type="text/javascript">
		function shortenText(element, maxLength) {
			var lastspace = element.innerText.lastIndexOf(" ", maxLength - 1);
			var splitPos = (lastspace >= maxLength - 12) ? lastspace - 1 : maxLength - 1;

			var content = element.innerHTML;
			content = $('<span class="overflow" style="display: none; white-space: pre-wrap;">' + content + '</span>');

			var excerpt = element.firstChild.textContent.substr(0, splitPos);
			excerpt = $('<span class="overflow">' + excerpt + '…</span>');

			$(element).html(excerpt);
			$(element).append(content);

			$(element).click(function() {
				$(this).children('.overflow').toggle();
			});
		}

		$("#event_table td.shorten").each(function() {
			if (this.innerText.length > 60) {
				shortenText(this, 60);
			}
		});
	</script>
}