@using ILK_Protokoll.Controllers
@using ILK_Protokoll.Models
@model IEnumerable<ILK_Protokoll.Models.Attachment>

<table class="table table-striped file-table table-sortable">
	<thead>
		<tr>
			<th class="col-xs-1"></th>
			<th>@Html.DisplayNameFor(model => model.DisplayName)</th>
			<th class="col-xs-1">@Html.DisplayNameFor(model => model.FileSize)</th>
			<th class="col-xs-1">@Html.DisplayNameFor(model => model.Uploader)</th>
			<th class="col-xs-2">@Html.DisplayNameFor(model => model.Created)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Attachment file in Model)
		{
			string iconname = file.Extension ?? "default";
			if (!AttachmentsController.KnownExtensions.Contains(iconname))
			{
				iconname = "default";
			}

			string fileurl = Url.Content(AttachmentsController.VirtualPath + file.ID);

			<tr id="attachment_@file.ID">
				<td>
					<a href="@fileurl">
						<img src="~/img/fileicons/@(iconname).png" height="32" />
					</a>
				</td>
				<td>
					<a href="@fileurl">
						@file.DisplayName
					</a>
				</td>
				<td>@Html.DisplayFor(model => file.FileSize)</td>
				<td>@file.Uploader.ShortName</td>
				<td>@Html.DisplayFor(model => file.Created)</td>
			</tr>
		}
	</tbody>

</table>