@model ILK_Protokoll.Models.SessionReport
@{
	Layout = null;
	ViewBag.Title = "Sitzungsprotokoll";
}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>

	<link href="/Content/iwbTheme.css" rel="stylesheet" />

	<script src="/Scripts/jquery-2.1.1.js"></script>
	<script src="/Scripts/bootstrap.js"></script>
	<script src="/Scripts/respond.js"></script>
</head>
<body style="width:750px;">
	<div class="navbar navbar-default navbar-fixed-top" id="main-navbar">
		<div class="container">
			<div class="navbar-text" style="float:right;">
				@DateTime.Now.ToLongDateString()
			</div>
			<div class="navbar-header">
				<p class="navbar-brand iwblogo">@ViewBag.Title</p>
			</div>
			<h3 class="navbar-text" style="float: none; text-align: center;">
				@Model.SessionType.Name
			</h3>
		</div>
	</div>
	<div class="container body-content">
		<br />
		<br />
		<br />
		<br />

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Stamdaten</h4>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal" style="line-height: 40px;">
					<dt>@Html.DisplayNameFor(model => model.PresentUsers)</dt>
					<dd>
						@{
							var users = Model.SessionType.Attendees.ToDictionary(u => u, u => Model.PresentUsers.Contains(u));
						}
						@Html.DisplayFor(m => users, "Dictionary_User_bool")
					</dd>

					<dt>@Html.DisplayNameFor(model => model.AdditionalAttendees)</dt>
					<dd>@Html.DisplayFor(model => model.AdditionalAttendees)</dd>


					<dt>@Html.DisplayNameFor(model => model.Notes)</dt>
					<dd>@Html.DisplayFor(model => model.Notes, "String_Multiline")</dd>

					<dt>@Html.DisplayNameFor(model => model.Start)</dt>
					<dd>@Model.Start.ToString("f")</dd>

					<dt>@Html.DisplayNameFor(model => model.End)</dt>
					<dd>@Model.End.ToString("f")</dd>
				</dl>

			</div>
		</div>


		<div class="row">
			<div class="col-xs-12">

			</div>
		</div>
		<hr style="clear: both;" />
		<footer>
			<p>&copy; 2014 &#8211; <i>iwb</i>, Technische Universität München</p>

			<p>
				Version 0.0<br />
				Build 0
			</p>
		</footer>
	</div>
</body>
</html>