@model ILK_Protokoll.Areas.Administration.Models.SessionType

@{
	ViewBag.Title = "Sitzungstyp löschen";
}

<h2>@ViewBag.Title</h2>

<div>
	<h4>Dieser Schritt kann nicht rückgängig gemacht werden!</h4>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			<input type="submit" value="Löschen" class="btn btn-danger" /> |
			@Html.ActionLink("Zurück zum Index", "Index")
		</div>
	}
</div>