@model ILK_Protokoll.Areas.Administration.Models.SessionType

@{
	ViewBag.Title = "Sitzungstyp löschen";
}

<h2>@ViewBag.Title</h2>

<div>
	<h4>Dieser Sitzungstyp kann nicht gelöscht werden, da er noch @Html.DisplayNameFor(model => model.Attendees) hat. Diese müssen zuvor entfernt werden.</h4>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Attendees)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Attendees, "IEnumerable_User")
		</dd>
	</dl>
	@Html.ActionLink("Zurück zum Index", "Index")
</div>