@model ILK_Protokoll.Areas.Administration.Models.SessionType

@{
	ViewBag.Title = "Details (" + Model.Name + ")";
}

<div class="index-action">
	@Html.ActionLink("Bearbeiten", "Edit", new {id = Model.ID}, new {@class = "btn btn-primary"})
</div>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Zurück zum Index", "Index")<br />

<hr />

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ID)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ID)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Attendees)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Attendees, "IEnumerable_User")
		</dd>
	</dl>
</div>
<p>
</p>